<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <title>Occupancy Detection Application</title>
</head>
<body>
    <form>
        <h1>Please enter in the features of the room</h1>

        Temperature:
        <input id = "temperature" type = "text" name = "temperature">
        Humidity:
        <input id = "humidity" type = "text" name = "humidity">
        C02:
        <input id = "C02" type = "text" name = "C02">
        Light:
        <input id = "light" type = "text" name = "light">
        HumidityRatio:
        <input id = "humidity_ratio" type = "text" name = "humidity_ratio">
        Predict:
        <input id = "predict" type = "submit" name = "predict">
    </form>
    

</body>
<script src="/js/index.js"></script>
</html>